# Machine Learning
### Dados 2

Nesse notebook, analisamos a partir do dataframe clássico do seaborn Iris a influência da normalização dos dados na acurácia do algoritmo knn.

In [20]:
import seaborn as sns

Primeiramente, carregamos o dataframe e o visualizamos.

In [21]:
df = sns.load_dataset('iris')
RMSEl, mael = [], []
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Usaremos sepal_length, sepal_width e petal_width para prever petal_length.
Primeiro, selecionamos os dados para treino e teste:

In [22]:
from sklearn.model_selection import train_test_split
TAMANHO_TESTE = 0.1
SEMENTE_ALEATORIA = 27

indices = df.index
indices_treino, indices_teste = train_test_split(
    indices, test_size=TAMANHO_TESTE, random_state=SEMENTE_ALEATORIA
)

df_treino = df.loc[indices_treino]
df_teste = df.loc[indices_teste]

ATRIBUTOS = ['sepal_length', 'sepal_width', 'petal_width']
TARGET = ['petal_length']
X_treino = df_treino.reindex(ATRIBUTOS, axis=1)
y_treino = df_treino.reindex(TARGET, axis=1)

X_teste = df_teste.reindex(ATRIBUTOS, axis=1)
y_teste = df_teste.reindex(TARGET, axis=1)

Agora, treinamos o modelo sem normalizar os dados:

In [23]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

NUM_VIZINHOS = 3
modelo_knn = KNeighborsRegressor(n_neighbors=NUM_VIZINHOS)

modelo_knn.fit(X_treino, y_treino)

from sklearn.metrics import root_mean_squared_error

X_verdadeiro = X_teste
y_verdadeiro = y_teste

y_previsto = modelo_knn.predict(X_verdadeiro)

RMSE = root_mean_squared_error(y_verdadeiro, y_previsto)
mae = mean_absolute_error(y_verdadeiro, y_previsto)

RMSEl.append(RMSE)
mael.append(mae)

print(f"O RMSE do modelo foi de {RMSE} unidades de y.")
print(f"Erro médio absoluto: {mae:.2f} pontos")

O RMSE do modelo foi de 0.30550504633038944 unidades de y.
Erro médio absoluto: 0.24 pontos

Agora, normalizemos usando StandarScaller:

In [24]:
from sklearn.preprocessing import StandardScaler

df_ss = df.copy()
normalizador = StandardScaler()

x= df["petal_width"].values.reshape(-1,1)
normalizador.fit(x)
pw_norm = normalizador.transform(x)
df_ss['petal_width'] = pw_norm

x= df["sepal_width"].values.reshape(-1,1)
normalizador.fit(x)
sw_norm = normalizador.transform(x)
df_ss['sepal_width'] = sw_norm

x= df["sepal_length"].values.reshape(-1,1)
normalizador.fit(x)
sl_norm = normalizador.transform(x)
df_ss['sepal_length'] = sl_norm

In [25]:
df_ss

     sepal_length  sepal_width  petal_length  petal_width    species
0       -0.900681     1.019004           1.4    -1.315444     setosa
1       -1.143017    -0.131979           1.4    -1.315444     setosa
2       -1.385353     0.328414           1.3    -1.315444     setosa
3       -1.506521     0.098217           1.5    -1.315444     setosa
4       -1.021849     1.249201           1.4    -1.315444     setosa
..            ...          ...           ...          ...        ...
145      1.038005    -0.131979           5.2     1.448832  virginica
146      0.553333    -1.282963           5.0     0.922303  virginica
147      0.795669    -0.131979           5.2     1.053935  virginica
148      0.432165     0.788808           5.4     1.448832  virginica
149      0.068662    -0.131979           5.1     0.790671  virginica

[150 rows x 5 columns]

In [26]:
indices = df_ss.index
indices_treino, indices_teste = train_test_split(
    indices, test_size=TAMANHO_TESTE, random_state=SEMENTE_ALEATORIA
)

df_treino = df_ss.loc[indices_treino]
df_teste = df_ss.loc[indices_teste]

ATRIBUTOS = ['sepal_length', 'sepal_width', 'petal_width']
TARGET = ['petal_length']
X_treino = df_treino.reindex(ATRIBUTOS, axis=1)
y_treino = df_treino.reindex(TARGET, axis=1)

X_teste = df_teste.reindex(ATRIBUTOS, axis=1)
y_teste = df_teste.reindex(TARGET, axis=1)

In [27]:
modelo_knn.fit(X_treino, y_treino)

X_verdadeiro = X_teste
y_verdadeiro = y_teste

y_previsto = modelo_knn.predict(X_verdadeiro)

RMSE = root_mean_squared_error(y_verdadeiro, y_previsto)
mae = mean_absolute_error(y_verdadeiro, y_previsto)

RMSEl.append(RMSE)
mael.append(mae)

print(f"O RMSE do modelo foi de {RMSE} unidades de y.")
print(f"Erro médio absoluto: {mae:.2f} pontos")

O RMSE do modelo foi de 0.32249030993194183 unidades de y.
Erro médio absoluto: 0.25 pontos

Normalizando agora com máximo absoluto:

In [28]:
from sklearn.preprocessing import MaxAbsScaler

df_m = df.copy()
normalizador = MaxAbsScaler()

x= df["petal_width"].values.reshape(-1,1)
normalizador.fit(x)
pw_norm = normalizador.transform(x)
df_m['petal_width'] = pw_norm

x= df["sepal_width"].values.reshape(-1,1)
normalizador.fit(x)
sw_norm = normalizador.transform(x)
df_m['sepal_width'] = sw_norm

x= df["sepal_length"].values.reshape(-1,1)
normalizador.fit(x)
sl_norm = normalizador.transform(x)
df_m['sepal_length'] = sl_norm

In [29]:
df_m

     sepal_length  sepal_width  petal_length  petal_width    species
0        0.645570     0.795455           1.4         0.08     setosa
1        0.620253     0.681818           1.4         0.08     setosa
2        0.594937     0.727273           1.3         0.08     setosa
3        0.582278     0.704545           1.5         0.08     setosa
4        0.632911     0.818182           1.4         0.08     setosa
..            ...          ...           ...          ...        ...
145      0.848101     0.681818           5.2         0.92  virginica
146      0.797468     0.568182           5.0         0.76  virginica
147      0.822785     0.681818           5.2         0.80  virginica
148      0.784810     0.772727           5.4         0.92  virginica
149      0.746835     0.681818           5.1         0.72  virginica

[150 rows x 5 columns]

In [30]:
indices = df_m.index
indices_treino, indices_teste = train_test_split(
    indices, test_size=TAMANHO_TESTE, random_state=SEMENTE_ALEATORIA
)

df_treino = df_m.loc[indices_treino]
df_teste = df_m.loc[indices_teste]

ATRIBUTOS = ['sepal_length', 'sepal_width', 'petal_width']
TARGET = ['petal_length']
X_treino = df_treino.reindex(ATRIBUTOS, axis=1)
y_treino = df_treino.reindex(TARGET, axis=1)

X_teste = df_teste.reindex(ATRIBUTOS, axis=1)
y_teste = df_teste.reindex(TARGET, axis=1)

In [31]:
modelo_knn.fit(X_treino, y_treino)

X_verdadeiro = X_teste
y_verdadeiro = y_teste

y_previsto = modelo_knn.predict(X_verdadeiro)

RMSE = root_mean_squared_error(y_verdadeiro, y_previsto)
mae = mean_absolute_error(y_verdadeiro, y_previsto)

RMSEl.append(RMSE)
mael.append(mae)

print(f"O RMSE do modelo foi de {RMSE} unidades de y.")
print(f"Erro médio absoluto: {mae:.2f} pontos")

O RMSE do modelo foi de 0.3155242550986462 unidades de y.
Erro médio absoluto: 0.25 pontos

Por fim, normalizemos com MinMaxScaller:

In [32]:
from sklearn.preprocessing import MinMaxScaler

df_mm = df.copy()
normalizador = MinMaxScaler()

x= df["petal_width"].values.reshape(-1,1)
normalizador.fit(x)
pw_norm = normalizador.transform(x)
df_mm['petal_width'] = pw_norm

x= df["sepal_width"].values.reshape(-1,1)
normalizador.fit(x)
sw_norm = normalizador.transform(x)
df_mm['sepal_width'] = sw_norm

x= df["sepal_length"].values.reshape(-1,1)
normalizador.fit(x)
sl_norm = normalizador.transform(x)
df_mm['sepal_length'] = sl_norm

In [33]:
df_mm

     sepal_length  sepal_width  petal_length  petal_width    species
0        0.222222     0.625000           1.4     0.041667     setosa
1        0.166667     0.416667           1.4     0.041667     setosa
2        0.111111     0.500000           1.3     0.041667     setosa
3        0.083333     0.458333           1.5     0.041667     setosa
4        0.194444     0.666667           1.4     0.041667     setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667           5.2     0.916667  virginica
146      0.555556     0.208333           5.0     0.750000  virginica
147      0.611111     0.416667           5.2     0.791667  virginica
148      0.527778     0.583333           5.4     0.916667  virginica
149      0.444444     0.416667           5.1     0.708333  virginica

[150 rows x 5 columns]

In [34]:
indices = df_mm.index
indices_treino, indices_teste = train_test_split(
    indices, test_size=TAMANHO_TESTE, random_state=SEMENTE_ALEATORIA
)

df_treino = df_mm.loc[indices_treino]
df_teste = df_mm.loc[indices_teste]

ATRIBUTOS = ['sepal_length', 'sepal_width', 'petal_width']
TARGET = ['petal_length']
X_treino = df_treino.reindex(ATRIBUTOS, axis=1)
y_treino = df_treino.reindex(TARGET, axis=1)

X_teste = df_teste.reindex(ATRIBUTOS, axis=1)
y_teste = df_teste.reindex(TARGET, axis=1)

In [35]:
modelo_knn.fit(X_treino, y_treino)

X_verdadeiro = X_teste
y_verdadeiro = y_teste

y_previsto = modelo_knn.predict(X_verdadeiro)

RMSE = root_mean_squared_error(y_verdadeiro, y_previsto)
mae = mean_absolute_error(y_verdadeiro, y_previsto)

RMSEl.append(RMSE)
mael.append(mae)

print(f"O RMSE do modelo foi de {RMSE} unidades de y.")
print(f"Erro médio absoluto: {mae:.2f} pontos")

O RMSE do modelo foi de 0.27460409211701003 unidades de y.
Erro médio absoluto: 0.20 pontos

Enfim, feito todos os modelos, analisemos cada um:

In [36]:
import pandas as pd
d = {
    'norm': ['Nd', 'Std', 'MaxAbs', 'MinMax'],
    'RMSE': RMSEl,
    'mae': mael}
df_f = pd.DataFrame(d)
df_f = df_f.T
df_f

             0         1         2         3
norm        Nd       Std    MaxAbs    MinMax
RMSE  0.305505   0.32249  0.315524  0.274604
mae   0.244444  0.248889  0.248889       0.2

Primeiramente, é perceptível que o standard e maxabs tiveram desempenhos muito similares. Além disso, vemos que algo não esperado aconteceu, não normalizar teve desenpenho superior aos dois comentados. Porém o MinMax teve um desenpenho considerávelmente maior em comparação aos outros.
Os dois primeiros normalizadores terem diminuido desempenho pode ter ocorrido por azar nos dados utilizados, porém, é um indicativo de que o MinMax pode ser o melhor normalizador para o algoritmo knn. Mais testes com novos dataframes devem ser feitos, para confirmarmos ou negarmos as teorias elaboradas.

### Conclusão
O MinMax obteve maior desempenho em comparação aos demais normalizadores, sendo provável de ser o mais indicado para usar no algoritmo knn. Além disso, vemos como normalizar impactou em todos os casos o resultado previsto.

### Referências

Cassar, Daniel. LMA-203 1.0 - Tratamento de dados com pandas. Acesso em: 25 ago. 2025.

Cassar, Daniel. LMA-203 2.0 - Aprendizado de máquina. Acesso em: 25 ago. 2025.

Cassar, Daniel. LMA-203 2.1 - Divisão de dados de treino e teste. Acesso em: 25 ago. 2025.